<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Happiest Countries</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

        <link rel="stylesheet" href="../static/css/style.css">

       
    </head>

    <body>

    <!-- create Nav Bar -->
       
    <div class="wrapper">
        <nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="index.html"> <img src="../static/images/happy.png" alt="happy" style="height:100%;display:inline-block;"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="index.html#page-top" class="nav-link js-scroll-trigger">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html#world" class="nav-link js-scroll-trigger">Global Happiness</a>
                    </li>
                    <li class="nav-item">
                        <a href="#topten" class="nav-link js-scroll-trigger">Happiest Countries</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Explore the Factors</a>
                        <div class="dropdown-menu">
                            <a href="factors.html#factors" class="dropdown-item js-scroll-trigger">Factors and Happiness</a>
                            <a href="factors.html#scatter" class="dropdown-item js-scroll-trigger">The Effect of Time</a>
                            <a href="charts.html#country" class="dropdown-item js-scroll-trigger">My Country</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About Us</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="process.html" class="dropdown-item">Project</a>
                            <a href="about.html" class="dropdown-item">Team</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
     <!-- <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-5">
                    <br><br> 
                    <h1>Happy World.  Happy You?</h1>
                    <br><br>
                    <h2>Exploring the World Happiness Report  ...and why it matters.</h2>
                </div>
            </div>
        </div>
    </div> -->
    
    
   <!-- Top 10 Countries at a Glance -->
   <hr>
   <div id=topten  class=content  style="text-align: center">
        <br><br><br>
       <h4>AT A GLANCE</h4> <br>
       <select id="selView" style="font-size:17px; height: 40px; width:175px">
           <option value="Current10">Current Top 10</option>
           <option value="Past10">Past Top 10s</option>  
       </select>
        <br><br><br><br><br><br>
       <div class="pix">
           <div id="tens" ></div> 
           <br><br><br><br> 
       </div> 
   </div>
   
   
   

    <!-- div with slideshow vizualizaton showing the top 10 countries -->
    <br><br><br><br><br><br>
    <div class="container-fluid content-row" style="text-align: center">
        <h1 style="color:rgb(24, 3, 143); margin-left: 32px ;margin-right: 36px;"> Top Ten Happiest Countries</h1>
        <br>
        <h3 style="margin-left: 32px ;margin-right: 36px;">What Makes These Countries Happier than Most?</h3>
        <br> <br>
         <a href="charts.html#country">Don't See Your Country?<a>    
        <br>
    </div>


    <!-- Slideshow container -->
    <br><br><br><br>
    <div id=default class="slideshow-container">
        <hr>
        <h1 style="text-align: center"> Top 10 Happiest Countries 2019</h1>
        <br> 
        <hr>
        <!-- Full-width slides/quotes -->
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold>#1&nbsp; <img src="../static/images/finland.jpg" alt="Finland" style="width:10%" align="middle"> &nbsp;Findland</h2>
            <div id="rank1"></div>
            <p>Finland ranks first again. The country has an advanced economy and extensive welfare state, 
            resulting in widespread prosperity and a high per capita income. Finland is a top performer in numerous metrics of national performance, including education, economic competitiveness, civil liberties, quality of life, and human development.</p>
            <!-- <div class="plot" id="rank1"></div> -->
        </div> 

        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #2 &nbsp; <img src="../static/images/denmark.jpg" alt="Denmark" style="width:10%" align="middle"> &nbsp;Denmark</h2>
            <div id="rank2"></div>
            <p>Denmark up one spot from 2018. The country enjoys a high standard of living and ranks as having the world's highest social mobility, a high level of income equality, has the lowest perceived level of corruption in the world, has one of the world's highest per capita incomes, and one of the world's highest personal income tax rates.</p>
        </div>

        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #3&nbsp; <img src="../static/images/norway.png" alt="Norway" style="width:10%" align="middle"> &nbsp; Norway</h2>
            <div id="rank3"></div>
            <p>Norway down one spot from 2018. The country has a universal health care and a comprehensive social security system -- values are rooted in egalitarian ideals. Norway has the fourth-highest per capita income in the world on the World Bank list. Norway has had the highest Human Development Index ranking in the world since 2009.</p>  
        </div>

        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #4&nbsp;&nbsp;<img src="../static/images/iceland.png" alt="Iceland" style="width:10%" align="middle"> &nbsp;Iceland</h2>
            <div id="rank4"></div>
            <p>Iceland holds 4th place again this year. The country has a market economy with relatively 
            low taxes. It maintains a welfare system that provides universal health care and tertiary education for its citizens. Iceland ranks high in economic, democratic, social stability, and equality, currently ranking third in the world by median wealth per adult.</p>   
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #5&nbsp;&nbsp;<img src="../static/images/netherlands.png" alt="Netherlands" style="width:10%" align="middle"> &nbsp; Netherlands</h2>
            <div id="rank5"></div>
            <p>The Netherlands up one spot from 2018. The country has a tradition of pillarisation and a record of social tolerance. Its mixed-market advanced economy had the thirteenth-highest per capita income globally. The Netherlands ranks among the highest in international indexes of press freedom, economic freedom, human development and quality of life</p>
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #6&nbsp;<img src="../static/images/switzerland.png" alt="Switzerland" style="width:8%" align="middle"> &nbsp;Switzerland</h2>
            <div id="rank6"></div>
            <p>Switzerland down one spot from 2018. The sovereign state is one of the most developed countries in the world, with the highest nominal wealth per adult and the eighth-highest per capita gross domestic product. It ranks at or near the top in several international metrics, including economic competitiveness and human development.</p>
        </div>

        <div class="Top10"> 
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #7&nbsp;<img src="../static/images/sweden.png" alt="Sweden" style="width:11%" align="middle">&nbsp;Sweden</h2>
            <div id="rank7"></div>
            <p>Sweden up two spots from 2018. The country provides universal health care and tertiary education for its citizens. It has the world's eleventh-highest per capita income and ranks highly in quality of life, health, education, protection of civil liberties, economic competitiveness, equality, gender equality, prosperity and human development.</p>
        </div>

        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #8&nbsp;<img src="../static/images/new-zealand.png" alt="New Zealand" style="width:13%" align="middle">&nbsp;New Zealand</h5>
            <div id="rank8"></div> 
            <p>New Zealand maintained its position of 8th place again this year. A developed country, New Zealand ranks highly in international comparisons of national performance, such as quality of life, health, education, protection of civil liberties, and economic freedom.</p>
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold>#9&nbsp; <img src="../static/images/canada.png" alt="Canada" style="width:12%" align="middle">&nbsp;Canada</h2>  
            <div id="rank9"></div>
            <p>Canada down two spots from 2018. The country ranks among the highest in international measurements of government transparency, civil liberties, quality of life, economic freedom, and education. It is one of the world's most ethnically diverse and multicultural nations, the product of large-scale immigration from many other countries.</p>
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #10&nbsp; <img src="../static/images/Austria.png" alt="Austria" style="width:10%" align="middle">&nbsp;&nbsp;Austria</h2>
            <div id="rank10"></div>
            <p> Austria up two spots from 2018. The country is a parliamentary representative democracy 
            with a directly elected Federal President. Major urban areas of Austria consistently rank in the top 20 richest countries in the world by GDP per capita terms. In 2018, Austria was ranked 20th in the world for its Human Development Index.</p>
        </div>
        <!-- Next/prev buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <!-- Dots/bullets/indicators -->
    <div id=defualt class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
        <span class="dot" onclick="currentSlide(4)"></span> 
        <span class="dot" onclick="currentSlide(5)"></span> 
        <span class="dot" onclick="currentSlide(6)"></span> 
        <span class="dot" onclick="currentSlide(7)"></span> 
        <span class="dot" onclick="currentSlide(8)"></span> 
        <span class="dot" onclick="currentSlide(9)"></span> 
        <span class="dot" onclick="currentSlide(10)"></span> 
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }
    
        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("Top10");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
        }
    </script>
    <!-- </div> -->



<!-- user teaser -->

<hr>
<div class="container-fluid content-row" style="text-align: center">
    <br><br><br><br><br><br>
    <h1 style="color:rgb(24, 3, 143); margin-left: 24px ;margin-right: 32px;">Think you know your happiness score?</h1>  
    <br>
    <!-- <h3 style="margin-left: 24px ;margin-right: 32px;">Select another country from the list to see its scores. </h3><br>  -->
    <div class="container-fluid content-row">
        <br><br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">    
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-title" style="text-align: center">What Makes You Happy?</p>
                        <!-- <h5 class="card-text" style="text-align: center">Find your happiness score.</h5><br> -->
                        <img class=pix  src="../static/images/children-playing-bubbles-2914265.png" alt="kids" href="ml.html#predictor">
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>
<hr>


     

<footer class="py-5 bg-dark">
    <div class="container">
        <br><br><br><br><br><br>
      <p class="m-0 text-center text-white">Copyright &copy; Tweetypy Team <br> GW Data Analytics Bootcamp 2019</p>
    </div>
</footer> 

<!-- add in scripts -->

  <script type="text/javascript" src="../static/js/topten.js"></script>


</body>
</html>

