!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body id="page-top">
<!-- create Nav Bar -->
    <div class = "wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">The Happiness Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#page-top">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#map">World Map</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html#scatter">Factors Over Time</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html#top">Top Ten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="charts.html#factors">Factors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="charts.html#rankings">World Rankings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="about.html">About Us</a>
                        </li>
                    </ul>
                </div>
    ​
            </div>
        </nav>
    </div>
    <!-- create header for the page -->
    <div class= "about">
        <div class="jumbotron">
            <div class="container">
            <h1 class="display-4">about us</h1>
            <p class="lead">an in-depth view of our process: <br> what worked and what didn't</p>
            </div>
        </div>
    <!-- create section with process information -->
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Initial Data Gathering
                </button>
            </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Using the information from the World Happiness Reports (2015-2019), our group seeks to identify what factors, if any, can make an impact on happiness. The dataset found on <a href="https://www.kaggle.com/unsdsn/world-happiness">Kaggle</a> allowed us to explore this question more in-depth. The six main factors the report explores is as follows: economic production, social support, life expectancy, freedom, absence of corruption, and generosity. 
                The happiness scores and rankings use data from the Gallup World Poll based on answers to the main life evaluation question asked in the poll. This method, known as the Cantril ladder, asks respondents to think of a ladder with the best possible life for them being a 10 and the worst possible life being a 0 and to rate their own current lives on that scale. The scores are nationally representative. 
            </div>
            </div>
        
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Database and App Summary
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Desiree located the raw data on Kaggle, which consisted of five (5) csv files corresponding to the results of the World Gallup Poll happiness ranking from 2015-2019. She then downloaded the csv files locally and read them into Python to clean the data and to store it into Pandas dataframes for each year. She imported these dataframes as tables into a local SQL. Next, she created an app on Heroku (opposite-of-sadness) and set up a cloud-based Postgres database for it, also on Heroku. After creating the Postgres database, new tables had to be created, matching the tables in the local SQL database. Then, the data were exported from the local database tables and imported into the Heroku Postgres database tables.
                <br>
                Next, she established the file structure for Heroku to launch the app correctly. This consisted of the following files: initdb.py, Procfile, requirements.txt, run.sh, runtime.txt, and __init__.py. After those were created and filed in the correct structure, she created the app.py file. In this file, the Flask app and database were both set up. The database was read in through the operating system environment within Heroku, pointing to the Heroku Postgres database. Then database models were created for each table, displaying each country’s name and their scores in the eight categories. After the database models were created, API calls were created for each Postgres table, and the results were jsonified so that they could be read by the code created for each visualization.

            </div>
            </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Data_All File Merge 
                </button>
            </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Desiree did all of the hard work of data clean-up of the data and built separate .csv files and tables for each year in the postgressql database. For those who would rather make one data call and sort or map versus the year instead of making several data call to the database, Demetria created a data-all file. Since the data was already standardized across the files, she only needed to append the files and chose to use concatenate logic rather than merge. Using python and jupyter notebook, each file was read into a pandas data frame (df).  A year column was added to each year and updated with the year of each corresponding file.  The df columns were reordered placing “year” as the first data column. Since the columns for 2015-2017 were the same, the data frames were combined using .append. 
                <br>
                <img src="../static/images/datamerge.png">
                <br>
                The same was done for the 2018-2019 dataframes and then the two dataframes were then joined.   No columns were lost, but the different column in the 2018-2019 df was placed at the end of the combined df.  For 2015-2017 years, the column (social support) is null.  The same occurs for the 2018-2019 records, the 2015-2017 column, “family” is null. The combined df was then exported to a .csv file. 
                <br>
            </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Global Happiness - World Map
                </button>
            </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                Peter and Robel, using the World Happiness csv files and the polygon coordinate data in the geojson, created a map to visualize happiness rankings across the globe. They did extensive research online and tried different ways to combine the World Happiness Report data with countries’ coordinate data. They used python and pandas to combine the coordinate data with the csv files and convert to the geojson format. They used geojson data to produce the world map with a choropleth layer, pop-up markers, and a legend.  
                <br>
                <img src="../static/images/map1.png">
                <br>
                <img src="../static/images/map2.png">
                <br>
                <img src="../static/images/map3.png">
                <br>
                Robel started by creating an array of cities and their locations (long/lat) and Happiness Score. He created a blank array to store countryMarkers. CountryMarkers will show the country name and Happiness Score. A loop looped through the countries array, created a new marker, and pushed it to the countryMarkers array. He added all the countryMarkers to one new layer group so layers can be referenced as a group and not individually. He then used the baseMaps variable to set the light layer, then overlayMaps variable to add countryMarker as a layer. He used myMap variable to create a map and center on Finland – the happiest country in world – and set light basemap and countries overlay as default layer. Lastly, he passed the map layers into layer control and added the layer control to the map. The point of countryMarker is to show that Nordic countries are the happiest in the world. Peter took over with ETL our data and creating a geojson file to make the choropleth layer. 
                <br>
                <img src="../static/images/map4.png">
                <br>
                <img src="../static/images/map5.png">
               
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Factors' Impact on Happiness Over Time - Bubble Chart
                </button>
            </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                Nick started making this visualization by referencing Plotly.D3 documentation to read our CSV data files by year, then creating an array of countries, their life expectancies, GDPs per capita, and Happiness Scores. After creating containers for what will be the bubble sizes and the x and y axes, he called Plotly to assign the read traces into the plotting function. A for loop is used to go through each row, get the right trace, and append the data. He created a single trace here, to which the frames will pass data for the different years. Then he created a frame for each year, which are effectively just traces, except they do not need to contain the full trace definition (for example, appearance). The frames just need the parts of the traces that change (in this case, the data).
                <br>
                Next, he created the slider steps, one for each frame. The slider executes a plotly.js API command (Plotly.animate). He animated to one of the named frames created in the loop made earlier. He used updatemenus to create a play button and a pause button. The play button works by passing ‘null’, which indicates that Plotly should animate all frames. The pause button works by passing ‘[null]’, which interupts any current running animations with a new list of frames. Finally, he added the slider and used ‘pad’ to position it nicely next to the buttons, and then create the plot. From there, the bubble chart plays using our happiness data represented dynamically through the Plotly animation slider, uses color-coding to differentiate between countries, and can be examined closely over the last five years.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Top Ten Happiest Countries - Carousel 
                </button>
            </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
                The page was designed using HTML, CSS, and a few lines of Java Script written directly in the HTML file and displays the information on the website as an interactive carousel. 
                <br>
                The HTML code organizes the information for the top 10 countries using a slideshow container: an image of the country’s flag, the country’s rank, and a small blurb about the country sourced from Wikipedia report on the 2020 World Happiness Report and searches on the top 10 countries.  W3 HTML slideshow tutorial was used to design this slideshow. CSS styling was used to format the content container, controls, and indicators for the slide show.  The controls are the navigation arrows (next and prev) used to advance the slides.  The indicators are dots at the bottom of the slideshow that indicate where the viewer is in the slide deck. The indicator may also be used to select slides. <br>
                The JavaScript code is very minimal but provides the “do something” logic that advances or switches the slide based on the viewers use of the control and indicator arrow/dots to navigate the slides.
                <br>
                A teaser was added at the bottom of the page opening the discussion about America’s ranking and what’s making Americans unhappy - something the team hopes to explore in project 3 using predictive analysis. <br>
                <img src="../static/images/top10.png">


            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Six Factors - Scatter Visualization
                </button>
            </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                Demetria charted the correlation between the Happiness Score and each of the 6 happiness factors used in the 2019 World Happiness Report.  
                <br>
                She read in current year (2019) data file from the postgresql database using flask/sqlalchemy. Next, used the map method to create new arrays for each of the factors, including country and happiness rank.Then, used d3.plotly to create a scatter plot (create 6 plots for each factor) to display the correlation between the happiness score for each country and the factor value for each country. The happiness score determines the position on the horizontal axis.  The factor value determines the position on the vertical axis.  Plot markers represent the country and are color coded based on the happiness rank for each country.  A legend displays the color code for the happiness ranking with the highest rank (darkest color) at the bottom rising to the lowest rank (lightest color) at the top.  
                <br>
                The x and y-axis ranges were standardized across the plots to provide a “at a glance” view of how each factor related to the happiness score on the same scale.  The default for the ranges was the low and high values of the happiness score and factor value for each factor plot, which “at a glance” skewed the comparative view of the relationships of happiness across plots
                <br>
                Note: javascript plotly does not display the legend the same as the python version of plotly.  It does not appear to allow the capability to name legends that are auto-generated from a data series (at least not for the novice).  Also, the values displayed in the legend do not correspond to the ranking value, but rather some other generated value based on the rank value… Demetria was not sure what the listed number was. The python plotly version appeared to use the column value from the database in the legend.<br>
                To visualize the plots on the website, she used HTML bootstrap layout container and card formatting.  Each plot is displayed with a bootstrap card (a styled content container - bordered box with formatting options like header, footer, title, content). The bootstrap layout container was used for margin-setting and wrapping.<br>
                <img src="../static/images/factors.png">
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Bar Chart
                </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                We use d3 to read our API data which contains the World Happiness Report data. After that we create traces for each variable, which we will be able to call into Plotly.
                In order to display the data, we use “barmode: stack” in order to call each trace into the visual, so we can stack each variable, sorted by country.
                We also use d3 to be able to change the data displaying by year; so you can select which year you want to view. We can see that GDP per capita and social support scores were important for countries having a high happiness score, and it seems like the factors identified by the researchers do have an impact on perceptions of happiness.
                </div>
            </div>
            </div>
    </div>

</div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tweetypy Team <br> GW Data Analytics Bootcamp 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- add in scripts -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 
   
    
