<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rank and Factor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../style.css">

</head>

<body>

    <!-- Menu Bar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><font color="white">The Happiness Project </font></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">World Map</a></li>
                <li><a href="#">Happiness Scores over Time</a></li>
                <li><a href="#scores">Rank and Factors</a></li>
                <li><a href="#project">About the Project</a></li> 
                <li><a href="#">About the Team</a></li>
            </ul>
        </div>
    </nav>
        

     <!-- User Selection Bar --> 
     <div id=top10 class="container-fluid content-row">
        <div id="myBtnContainer" class=filterContainer>
            <button id=1 class="btn active" onclick="view1()">Top Ten</button>
            <button id=2 class="btn" onclick="view2()">See the Factors</button>
            <button id=2 class="btn" onclick="view3()">My Country</button>
        </div>
        <hr>
    </div>
    
    
    <!-- Slideshow container -->
    <br><br><br><br>
    <div id=default class="slideshow-container">
        <hr>
        <h1 style="text-align: center"> Top 10 Happiest Countries 2019</h1>
        <hr>
        <!-- Full-width slides/quotes -->
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold>#1&nbsp; <img src="../static/images/finland.jpg" alt="Finland" style="width:10%" align="middle"> &nbsp;Findland</h2>
            <div id="rank1"></div>
            <p>Finland ranks first again. The country has an advanced economy and extensive welfare state, 
            resulting in widespread prosperity and a high per capita income. Finland is a top performer in numerous metrics of national performance, including education, economic competitiveness, civil liberties, quality of life, and human development.</p>
            <!-- <div class="plot" id="rank1"></div> -->
        </div> 
    
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #2 &nbsp; <img src="../static/images/denmark.jpg" alt="Denmark" style="width:10%" align="middle"> &nbsp;Denmark</h2>
            <div id="rank2"></div>
            <p>Denmark up one spot from 2018. The country enjoys a high standard of living and ranks as having the world's highest social mobility, a high level of income equality, has the lowest perceived level of corruption in the world, has one of the world's highest per capita incomes, and one of the world's highest personal income tax rates.</p>
        </div>
    
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #3&nbsp; <img src="../static/images/norway.png" alt="Norway" style="width:10%" align="middle"> &nbsp; Norway</h2>
            <div id="rank3"></div>
            <p>Norway down one spot from 2018. The country has a universal health care and a comprehensive social security system -- values are rooted in egalitarian ideals. Norway has the fourth-highest per capita income in the world on the World Bank list. Norway has had the highest Human Development Index ranking in the world since 2009.</p>  
        </div>

        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #4&nbsp;&nbsp;<img src="../static/images/iceland.png" alt="Iceland" style="width:10%" align="middle"> &nbsp;Iceland</h2>
            <div id="rank4"></div>
            <p>Iceland holds 4th place again this year. The country has a market economy with relatively 
            low taxes. It maintains a welfare system that provides universal health care and tertiary education for its citizens. Iceland ranks high in economic, democratic, social stability, and equality, currently ranking third in the world by median wealth per adult.</p>   
         </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #5&nbsp;&nbsp;<img src="../static/images/netherlands.png" alt="Netherlands" style="width:10%" align="middle"> &nbsp; Netherlands</h2>
            <div id="rank5"></div>
            <p>The Netherlands up one spot from 2018. The country has a tradition of pillarisation and a record of social tolerance. Its mixed-market advanced economy had the thirteenth-highest per capita income globally. The Netherlands ranks among the highest in international indexes of press freedom, economic freedom, human development and quality of life</p>
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #6&nbsp;<img src="../static/images/switzerland.png" alt="Switzerland" style="width:8%" align="middle"> &nbsp;Switzerland</h2>
            <div id="rank6"></div>
            <p>Switzerland down one spot from 2018. The sovereign state is one of the most developed countries in the world, with the highest nominal wealth per adult and the eighth-highest per capita gross domestic product. It ranks at or near the top in several international metrics, including economic competitiveness and human development.</p>
        </div>
    
        <div class="Top10"> 
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #7&nbsp;<img src="../static/images/sweden.png" alt="Sweden" style="width:11%" align="middle">&nbsp;Sweden</h2>
            <div id="rank7"></div>
            <p>Sweden up two spots from 2018. The country provides universal health care and tertiary education for its citizens. It has the world's eleventh-highest per capita income and ranks highly in quality of life, health, education, protection of civil liberties, economic competitiveness, equality, gender equality, prosperity and human development.</p>
        </div>
    
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #8&nbsp;<img src="../static/images/new-zealand.png" alt="New Zealand" style="width:13%" align="middle">&nbsp;New Zealand</h5>
            <div id="rank8"></div> 
            <p>New Zealand maintained its position of 8th place again this year. A developed country, New Zealand ranks highly in international comparisons of national performance, such as quality of life, health, education, protection of civil liberties, and economic freedom.</p>
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold>#9&nbsp; <img src="../static/images/canada.png" alt="Canada" style="width:12%" align="middle">&nbsp;Canada</h2>  
            <div id="rank9"></div>
            <p>Canada down two spots from 2018. The country ranks among the highest in international measurements of government transparency, civil liberties, quality of life, economic freedom, and education. It is one of the world's most ethnically diverse and multicultural nations, the product of large-scale immigration from many other countries.</p>
        </div>
        
        <div class="Top10">
            <h5  style="text-align: center">Wikepedia</h5>
            <h2 font-weight-bold> #10&nbsp; <img src="../static/images/Austria.png" alt="Austria" style="width:10%" align="middle">&nbsp;&nbsp;Austria</h2>
            <div id="rank10"></div>
            <p> Austria up two spots from 2018. The country is a parliamentary representative democracy 
            with a directly elected Federal President. Major urban areas of Austria consistently rank in the top 20 richest countries in the world by GDP per capita terms. In 2018, Austria was ranked 20th in the world for its Human Development Index.</p>
        </div>
        <!-- Next/prev buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  
    <!-- Dots/bullets/indicators -->
    <div id=defualt class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
        <span class="dot" onclick="currentSlide(4)"></span> 
        <span class="dot" onclick="currentSlide(5)"></span> 
        <span class="dot" onclick="currentSlide(6)"></span> 
        <span class="dot" onclick="currentSlide(7)"></span> 
        <span class="dot" onclick="currentSlide(8)"></span> 
        <span class="dot" onclick="currentSlide(9)"></span> 
        <span class="dot" onclick="currentSlide(10)"></span> 
    </div>
  
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("Top10");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
        }
    </script>

    <!-- Top 10 Countries at a Glance -->
    <br><br><br><br><br><br>
    <hr>
    <div id=default class="container-fluid content-row"  style="text-align: center">
        <p1><font size="2">AT A GLANCE</font></p1> <br>
        <select id="selView" style="font-size:17px; height: 40px; width:175px">
            <option value="Current10">Current Top 10</option>
            <option value="Past10">Past Top 10s</option>  
        </select>

        <div class="plotbox">
            <div id="topten" ></div>  
        </div> 
    </div>
    <hr>

    <!-- LOOK AT THE FACTORS -->
    <br><br><br><br><br><br>
    <div  id=factors class="container-fluid content-row" style="text-align: center">
        <h1> A Look at the Factors</h1>
        <br>
        <h3>6 Factors Most Correlated with World Happiness</h3>
        <hr>


        <br><br>
        <p1><font size="2">SELECT A VIEW</font></p1> <br>
        <select id="selData" style="font-size:17px; height: 40px; width:220px">
            <option value="current">Most Current Year</option>
            <option value="years">Past 5 Years</option>
            <option onclick="view4()" value="ranks">Highs and Lows</option>
        </select>
        <br><br><br>
        <h4 style="text-align: center"> Top 10 Countries</h4>
        
    </div>

    <br><br>
    <div id=factors2 class="container-fluid content-row">
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Happiness and GDP</h5>
                        <div class="responsive-plot" id="plot1"></div>
                        <p class="card-text">Gross Domestic Product (GDP) is the annual value of all goods and services a country produces. This number is normally calculated independently by country and by a national government statistical agency.</p>            
                    </div>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Happiness and Family/Social Support<h5>
                        <div class="responsive-plot" id="plot2"></div>
                        <p class="card-text">Social Support is defined by the same survey results of the Gallup World Poll data. The average of all answers determines the outcome of this factor per country.</p>   
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Happiness and life Expectancy</h5>
                        <div class="responsive-plot" id="plot3"></div>
                        <p class="card-text">The estimate for Life Expectancy represents the average number of "healthy" years a child at birth is estimated to live. It's calculated by the World Health Organization (WHO) based on over 100 different health factors.</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Happiness and Freedom</h5>
                        <div class="responsive-plot" id="plot4"></div>
                        <p class="card-text">Freedom is based on the average response to the Gallup World Poll question: "Are you satisfied or dissatisfied with your freedom to choose what you do with your life?</p>  
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Happiness and Generosity</h5>
                        <div class="responsive-plot" id="plot5"></div>
                        <p class="card-text">Generosity is based on the response to the Gallup World Poll question: "Have you donated money to a charity in the past month?" </p> 
                    </div>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Happiness and Government Corruption</h5> 
                        <div class="responsive-plot" id="plot6"></div>
                        <p class="card-text">Government Corruption is based on the average response to the following 2 questions: 1) "Is corruptionwidespread throughout the government?" and 2) "Is corruption widespread within businesses?".</p>           
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <br><br><br><br><br><br>
    <div id=factors3 class="container-fluid content-row">
        <h1> <img src="../static/images/legend1.png" alt="legend" align="middle"></h1>
        <div class="row"> 
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="rankten"></div>
                    </div>
                </div>
            </div>   
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="ranklow"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">   
                        <div id="rankall"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

       
    <br><br><br><br><br><br>
    <div id=user class="container-fluid content-row" style="text-align: center">
        <h1> Measuring Happiness - My Country</h1>
        <hr>
 
        <p1><font size="2">SURVEYED COUNTRY</font></p1> <br>
        <select id="selCtry" onclick="view5() style="font-size:17px; height: 40px; width:220px">
            <option value="none">(none)</option>
            <option value="Afghanistan">Afghanistan</option>
            <!-- <option value="Åland Islands">Åland Islands</option> -->
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <!-- <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option> -->
            <option value="Angola">Angola</option>
            <!-- <option value="Anguilla">Anguilla</option>
            <option value="Antarctica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option> -->
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <!-- <option value="Aruba">Aruba</option> -->
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <!-- <option value="Bahamas">Bahamas</option> -->
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <!-- <option value="Barbados">Barbados</option> -->
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <!-- <option value="Belize">Belize</option> -->
            <option value="Benin">Benin</option>
            <!-- <option value="Bermuda">Bermuda</option> -->
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <!-- <option value="Bouvet Island">Bouvet Island</option> -->
            <option value="Brazil">Brazil</option>
            <!-- <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option> -->
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <!-- <option value="Cape Verde">Cape Verde</option> -->
            <!-- <option value="Cayman Islands">Cayman Islands</option> -->
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <!-- <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option> -->
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo (Brazzaville)">Congo (Brazzaville)</option>
            <option value="Congo (Kinshasa)">Congo (Kinshasa)</option>
            <!-- <option value="Cook Islands">Cook Islands</option> -->
            <option value="Costa Rica">Costa Rica</option>
            <!-- <option value="Cote D'ivoire">Cote D'ivoire</option> -->
            <option value="Croatia">Croatia</option>
            <!-- <option value="Cuba">Cuba</option> -->
            <option value="Cyprus">Cyprus</option>
            <option value="Czechia Republic">Czechia Republic</option>
            <option value="Denmark">Denmark</option>
            <!-- <option value="Djibouti">Djibouti</option> -->
            <!-- <option value="Dominica">Dominica</option> -->
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <!-- <option value="Equatorial Guinea">Equatorial Guinea</option> -->
            <!-- <option value="Eritrea">Eritrea</option> -->
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <!-- <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option> -->
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <!-- <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern Territories</option> -->
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <!-- <option value="Gibraltar">Gibraltar</option> -->
            <option value="Greece">Greece</option>
            <!-- <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option> -->
            <option value="Guatemala">Guatemala</option>
            <!-- <option value="Guernsey">Guernsey</option> -->
            <option value="Guinea">Guinea</option>
            <!-- <option value="Guinea-bissau">Guinea-bissau</option>
            <option value="Guyana">Guyana</option> -->
            <option value="Haiti">Haiti</option>
            <!-- <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option> -->
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <!-- <option value="Isle of Man">Isle of Man</option> -->
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Ivory Coast">Ivory Coast</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <!-- <option value="Jersey">Jersey</option> -->
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kosovo">Kosovo</option>
            <!-- <option value="Kiribati">Kiribati</option>
            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
            <option value="Korea, Republic of">Korea, Republic of</option> -->
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <!-- <option value="Liechtenstein">Liechtenstein</option> -->
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <!-- <option value="Macao">Macao</option>
            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option> -->
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <!-- <option value="Maldives">Maldives</option> -->
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <!-- <option value="Marshall Islands">Marshall Islands</option>
            <option value="Martinique">Martinique</option> -->
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <!-- <option value="Mayotte">Mayotte</option> -->
            <option value="Mexico">Mexico</option>
            <!-- <option value="Micronesia, Federated States of">Micronesia, Federated States of</option> -->
            <option value="Moldova">Moldova</option>
            <!-- <option value="Monaco">Monaco</option> -->
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <!-- <option value="Montserrat">Montserrat</option> -->
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <!-- <option value="Nauru">Nauru</option> -->
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <!-- <option value="Netherlands Antilles">Netherlands Antilles</option> -->
            <!-- <option value="New Caledonia">New Caledonia</option> -->
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <!-- <option value="Niue">Niue</option> -->
            <!-- <option value="Norfolk Island">Norfolk Island</option> -->
            <option value="North Macedonia">North Macedonia"</option>
            <option value="Northern Cyprus">Northern Cyprus"</option>
            <!-- <option value="Northern Mariana Islands">Northern Mariana Islands</option> -->
            <option value="Norway">Norway</option>
            <!-- <option value="Oman">Oman</option> -->
            <option value="Pakistan">Pakistan</option>
            <!-- <option value="Palau">Palau</option> -->
            <option value="Palestinian Territories">Palestinian Territories</option>
            <option value="Panama">Panama</option>
            <!-- <option value="Papua New Guinea">Papua New Guinea</option> -->
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <!-- <option value="Pitcairn">Pitcairn</option> -->
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <!-- <option value="Puerto Rico">Puerto Rico</option> -->
            <option value="Qatar">Qatar</option>
            <!-- <option value="Reunion">Reunion</option> -->
            <option value="Romania">Romania</option>
            <option value="Russia">Russian</option>
            <option value="Rwanda">Rwanda</option>
            <!-- <option value="Saint Helena">Saint Helena</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option> -->
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <!-- <option value="Seychelles">Seychelles</option> -->
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <!-- <option value="Solomon Islands">Solomon Islands</option> -->
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="South Sudan">South Sudan</option>
            <!-- <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option> -->
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <!-- <option value="Suriname">Suriname</option>
            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option> -->
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syrian">Syrian</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <!-- <option value="Timor-leste">Timor-leste</option> -->
            <option value="Togo">Togo</option>
            <!-- <option value="Tokelau">Tokelau</option>
            <option value="Tonga">Tonga</option> -->
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <!-- <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
            <option value="Tuvalu">Tuvalu</option> -->
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <!-- <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option> -->
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <!-- <option value="Vanuatu">Vanuatu</option> -->
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Viet Nam</option>
            <!-- <option value="Virgin Islands, British">Virgin Islands, British</option>
            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
            <option value="Wallis and Futuna">Wallis and Futuna</option>
            <option value="Western Sahara">Western Sahara</option> -->
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
        </select>
    </div>

    <br><br><br><br><br><br>
    <div id=user2 class="container-fluid content-row">
        <div class="row"> 
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="myRank"></div>
                    </div>
                </div>
            </div>   
            <div class="col-sm-8">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="myRank2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


    <script type="text/javascript" src="../static/dashboard.js"></script>

    <!-- <script>
        // Add active class to the current button (highlight it)
        $('.btn').click(function(){
            if($(this).hasClass('active')){
                $(this).removeClass('active')
            } else {
                $(this).addClass('active')
            }
        });
    
        function view1() {
            document.getElementById("factors").style.display = "none";
            document.getElementById("factors2").style.display = "none";
            document.getElementById("factors3").style.display = "none";
            document.getElementById("myData").style.display = "none";
            document.getElementById("user").style.display = "none";
            document.getElementById("user2").style.display = "none";
            document.getElementById("selView").style.display = "none";
            document.getElementById("default").style.display = "block"; 
        }
        function view2() {
            document.getElementById("factors").style.display = "block ";
            document.getElementById("factors2").style.display = "block";
            document.getElementById("factors3").style.display = "none";
            document.getElementById("myData").style.display = "block"; 
            document.getElementById("user").style.display = "none";
            document.getElementById("user2").style.display = "none";
            document.getElementById("default").style.display = "none";
            document.getElementById("selView").style.display = "none"; 
        }
        function view3() {
            document.getElementById("factors").style.display = "none";
            document.getElementById("factors2").style.display = "none";
            document.getElementById("factors3").style.display = "none";
            document.getElementById("myData").style.display = "none";
            document.getElementById("user").style.display = "block";
            document.getElementById("user2").style.display = "blovk";
            document.getElementById("default").style.display = "none";
            document.getElementById("selView").style.display = "none";
        }
        function view4() {
            document.getElementById("factors2").style.display = "block";
            document.getElementById("factors3").style.display = "block";
        }
        function view5() {
            document.getElementById("user2").style.display = "block";
        }

    </script> -->
            
        
    

</body>

</html>
