<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>The Happiness Project</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- d3 JavaScript -->
        <script src="https://d3js.org/d3.v4.min.js"></script>


        <!-- Leaflet CSS & JS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
        
        <!-- Leaflet-Choropleth JavaScript -->
        <script type="text/javascript" src="../static/js/choropleth.js"></script>
    ​
        <!-- Our CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    
       
    </head>

    <body id="page-top">

    <!-- create Nav Bar -->
       
    <div class="wrapper">
        <nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"> <img src="../static/images/happy.png" alt="happy" style="height:100%;display:inline-block;"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link js-scroll-trigger">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#world" class="nav-link js-scroll-trigger">Global Happiness</a>
                    </li>
                    <li class="nav-item">
                        <a href="slides.html#topten" class="nav-link js-scroll-trigger">Happiest Countries</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Explore the Factors</a>
                        <div class="dropdown-menu">
                            <a href="factors.html#factors" class="dropdown-item js-scroll-trigger">Factors and Happiness</a>
                            <a href="factors.html#scatter" class="dropdown-item js-scroll-trigger">The Effect of Time</a>
                            <a href="charts.html#country" class="dropdown-item js-scroll-trigger">My Country</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About Us</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="process.html" class="dropdown-item">Project</a>
                            <a href="about.html" class="dropdown-item">Team</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-5">
                    <br><br> 
                    <h1>Happy World.  Happy You?</h1>
                    <br><br>
                    <h2>Exploring the World Happiness Report  ...and why it matters.</h2>
                </div>
            </div>
        </div>
    </div>


<!-- div with world map visualization -->

    <hr>
    <br><br> 
    <div id="world" class="frame">
        <h1 style="color:rgb(24, 3, 143); margin-left: 32px ;margin-right: 36px;">Global Happiness</h1>  
        <br>
        <h3 style="margin-left: 32px ;margin-right: 36px;">The World Happiness Report</h3>
        <br>
        <!-- <div class="wrapper">
            <div class=box>
                <h2 style="color:rgb(34, 99, 238); height: 640px;">"About this map..."</h2>
            </div> -->
         <div class=map-box id="map" style="height: 640px; border: 1px solid #AAA;"></div>
        <!-- </div>   -->
        <br><br><br><br><br><br>
    </div>


    <!-- user teasers to other pages -->
    <hr>
    <br><br><br>
    <div class="content">
        <h1 style="color:rgb(24, 3, 143); margin-left: 24px ;margin-right: 32px;">Explore the Factors</h1>  
        <br>
        <h3 style="margin-left: 24px ;margin-right: 32px;">Each year the United Nations publishes the World Happiness Report ranking over 150 countries based on citizen
            perceptions of happiness across various lifestyle measures.  These measures are analyzed and grouped into 6 factors 
            adding to each countries overall score. </h3><br>
        <h4 style="text-align: center">The Factors: GDP per Capita&nbsp;&#8226;&nbsp;Social (and Family) Support &nbsp;&#8226;&nbsp;Life Expectancy&nbsp;&#8226;&nbsp;Freedom&nbsp;&#8226;&nbsp;Generosity&nbsp;&#8226;&nbsp;Government Corruption</h4>
        <div class="container-fluid content-row">
            <br><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title" style="text-align: center">The Factors and Happiness</p>
                            <h5 class="card-text" style="text-align: center">Take a deeper look at happiness.</h5> <br>
                            <img class=pix src="../static/images/factors.png"  alt="factors" href="factors.html#factors">                                      
                        </div>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title" style="text-align: center">My Country and Happiness<p>
                            <h5 class="card-text" style="text-align: center">See where your country measures up.</h5> <br>
                            <img class=pix src="../static/images/pins-on-map-1078850.jpg" alt="mymap" href="charts.html#country"> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title" style="text-align: center">What Makes Us Happy?</p>
                            <h5 class="card-text" style="text-align: center">Find your happiness score.</h5><br>
                            <img class=pix  src="../static/images/march-for-science-2252980_1280.jpg" alt="march" href="ml.html#predictor">
                        </div>
                    </div>
                </div> 
            </div>
        </div>
</div>
<hr>


  <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Tweetypy Team <br> GW Data Analytics Bootcamp 2019</p>
        </div>
    </footer> 


    <!-- add in scripts -->
    
        <script type="text/javascript" src="../static/js/config.js"></script>
        <script type="text/javascript" src="../static/js/logic.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>

</body>

</html>     